{% extends 'post_base.html' %}

{% block title %}
Log In
{% endblock %}

{% block content%}
<form id="form" method="POST">{% csrf_token %}
	<legend>Log In</legend>
	{% if msgError %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ msgError }}</strong>
	</div>
	{% endif %}

	<div class="form-group">
		<label for="username">Username</label>
		<input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
		<label for="password">Password</label>
		<input class="form-control" type="password"  id="password" name="password"placeholder="Password" required>
    </div>
	<button class="btn btn-success" type="submit">Log In</button>
</form>
{% endblock %}