{% extends 'post_base.html' %}

{% block title %}
New post
{% endblock %}

{% block content%}
<form id="form" method="POST">{% csrf_token %}
	<legend>New post</legend>
	{% if msgError %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ msgError }}</strong>
	</div>
	{% endif %}
	<div class="form-group">
		<label for="title">Title</label>
		<input class="form-control" type="text" id="title" name="title" placeholder="Title" required>
    </div>
    <div class="form-group">
		<label for="content">Content</label>
		<textarea class="form-control" rows="15" id="content" name="content" placeholder="Content" required></textarea>
    </div>
	<button class="btn btn-success" type="submit">Create New Post</button>
</form>
{% endblock %}